<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <script>
        window.logoUrl = '<%= image_url('forest.png') %>'
        window.introUrl = '<%= image_url('intro_image.jpg') %>'
        window.newYork =  '<%= image_url('new_york.jpg') %>'
        window.miami =  '<%= image_url('miami.jpg') %>'
        window.chicago =  '<%= image_url('chicago.jpg') %>'
        window.sanFrancisco =  '<%= image_url('san_francisco.jpg') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
