<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>
    <%= favicon_link_tag asset_path('tree2.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

  <script type="text/javascript">
    window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
  </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <script>
        window.logoUrl = '<%= image_url('tree2.png') %>'
        window.introUrl = '<%= image_url('intro_image.jpg') %>'
        window.newYork =  '<%= image_url('new_york.jpg') %>'
        window.miami =  '<%= image_url('miami.jpg') %>'
        window.chicago =  '<%= image_url('chicago.jpg') %>'
        window.sanFrancisco =  '<%= image_url('san_francisco.jpg') %>'
        window.cabin =  '<%= image_url('cabin.jpg') %>'
        window.home =  '<%= image_url('home.jpg') %>'
        window.hut =  '<%= image_url('hut.jpg') %>'
        window.dog =  '<%= image_url('dog.jpg') %>'
        window.experience =  '<%= image_url('experience.jpg') %>'
    </script>

    


  </head>

  <body>
    <%= yield %>
  </body>
</html>
